
DemoLoan/.vs/DemoLoan/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
DemoLoan/DemoLoan/obj/Debug/netcoreapp3.0/DemoLoan.AssemblyInfo.cs
*.cache
DemoLoan/DemoLoan/obj/Debug/netcoreapp3.0/DemoLoan.csproj.FileListAbsolute.txt
*.props
*.targets
DemoCarLoan/.vs/DemoCarLoan/v16/.suo
DemoCarLoan/DemoCarLoan/obj/Debug/netcoreapp3.0/DemoCarLoan.AssemblyInfo.cs
DemoCarLoan/DemoCarLoan/obj/Debug/netcoreapp3.0/DemoCarLoan.csproj.FileListAbsolute.txt
DemoCarLoan/.vs/DemoCarLoan/DesignTimeBuild/.dtbcache
DemoLoan/.vs/DemoLoan/DesignTimeBuild/.dtbcache
DemoCarLoan2/.vs/DemoCarLoan2/v16/.suo
DemoCarLoan2/DemoCarLoan2/obj/Debug/netcoreapp3.0/DemoCarLoan2.AssemblyInfo.cs
DemoCarLoan2/DemoCarLoan2/obj/Debug/netcoreapp3.0/DemoCarLoan2.csproj.FileListAbsolute.txt
DemoCarLoan2/.vs/DemoCarLoan2/DesignTimeBuild/.dtbcache
DemoCarLoan3/.vs/DemoCarLoan3/v16/.suo
DemoCarLoan3/DemoCarLoan3/obj/Debug/netcoreapp3.0/DemoCarLoan3.AssemblyInfo.cs
DemoCarLoan3/DemoCarLoan3/obj/Debug/netcoreapp3.0/DemoCarLoan3.csproj.FileListAbsolute.txt
DemoCarLoan3/.vs/DemoCarLoan3/DesignTimeBuild/.dtbcache
PhotoDemo/.vs/PhotoDemo/v16/.suo
PhotoDemo/PhotoDemo/obj/Debug/netcoreapp3.0/PhotoDemo.AssemblyInfo.cs
PhotoDemo/PhotoDemo/obj/Debug/netcoreapp3.0/PhotoDemo.csproj.FileListAbsolute.txt
PhotoDemo/.vs/PhotoDemo/DesignTimeBuild/.dtbcache
PackageDemo/.vs/PackageDemo/v16/.suo
PackageDemo/PackageDemo/obj/Debug/netcoreapp3.0/PackageDemo.AssemblyInfo.cs
PackageDemo/PackageDemo/obj/Debug/netcoreapp3.0/PackageDemo.csproj.FileListAbsolute.txt
PackageDemo/.vs/PackageDemo/DesignTimeBuild/.dtbcache
ShapesDemo/.vs/ShapesDemo/v16/.suo
ShapesDemo/ShapesDemo/obj/Debug/netcoreapp3.0/ShapesDemo.AssemblyInfo.cs
ShapesDemo/ShapesDemo/obj/Debug/netcoreapp3.0/ShapesDemo.csproj.FileListAbsolute.txt
ShapesDemo/.vs/ShapesDemo/DesignTimeBuild/.dtbcache
SalespersonDemo/.vs/SalespersonDemo/v16/.suo
SalespersonDemo/SalespersonDemo/obj/Debug/netcoreapp3.0/SalespersonDemo.AssemblyInfo.cs
SalespersonDemo/SalespersonDemo/obj/Debug/netcoreapp3.0/SalespersonDemo.csproj.FileListAbsolute.txt
