
DemoLoan/.vs/DemoLoan/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
DemoLoan/DemoLoan/obj/Debug/netcoreapp3.0/DemoLoan.AssemblyInfo.cs
*.cache
DemoLoan/DemoLoan/obj/Debug/netcoreapp3.0/DemoLoan.csproj.FileListAbsolute.txt
*.props
*.targets
DemoCarLoan/.vs/DemoCarLoan/v16/.suo
DemoCarLoan/DemoCarLoan/obj/Debug/netcoreapp3.0/DemoCarLoan.AssemblyInfo.cs
DemoCarLoan/DemoCarLoan/obj/Debug/netcoreapp3.0/DemoCarLoan.csproj.FileListAbsolute.txt
DemoCarLoan/.vs/DemoCarLoan/DesignTimeBuild/.dtbcache
DemoLoan/.vs/DemoLoan/DesignTimeBuild/.dtbcache
DemoCarLoan2/.vs/DemoCarLoan2/v16/.suo
DemoCarLoan2/DemoCarLoan2/obj/Debug/netcoreapp3.0/DemoCarLoan2.AssemblyInfo.cs
DemoCarLoan2/DemoCarLoan2/obj/Debug/netcoreapp3.0/DemoCarLoan2.csproj.FileListAbsolute.txt
